uvicorn>=0.20.0,<0.30.0
fastapi>=0.88.0,<1.0.0
#httpx==0.18.2
python-multipart>=0.0.5,<0.1.0
pydantic>=1.10.4,<1.12.0
typing_extensions>=4.2.0,<5.0.0
loguru>=0.5.3,<1.0.0
feature-engine>=1.0.2,<1.6.0  # breaking change in v1.6.0
#uvicorn>=0.11.3
#fastapi>=0.64
#python-multipart>=0.0.5
#loguru>=0.5.3
#typing_extensions>=3.7.4
#pydantic>=1.8.1,<2.0.0
#basic-lstm-model==1.0.0
